.page__header-inner.list-hide {
  justify-content: center;
  align-items: center;
  height: 259px;

  .page__header-content {
    h2 {
      text-align: center;
    }
  }
}

.article {
  &__row {
    display: flex;
    color: #474747;

    &-image {
      flex: 1 0 284px;
      margin-right: 30px;

      img {
        width: 100%;
      }
    }

    &-content {
      max-width: 685px;
      width: 100%;

      p {
        font-size: 20px;
        line-height: 28px;
        font-weight: 400;
      }

      img {
        margin: 30px 0;
      }
    }
  }

  .content-block {
    margin-bottom: 10px;
  }
}


@media (max-width: 850px) {
  .article__row-image {
    display: none;
  }

  .article__row-content {
    max-width: 100%;
  }
}

@media (max-width: 374px) {
  .article__row-content img {
    margin: 20px 0;
  }
}